<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :pickup, label: "Pick up Date " %>
  </div>
  <div class="field">
    <%= f.input :collection, hint: "Arrive 15 minutes early for collection please" %>
  </div>
  <div class="field">
    <%= f.input :pax %>
  </div>
  <div class="field">
    <%= f.association :client, :label_method => lambda { |client| "#{client.fname}  #{client.lname}" } %>
  </div>
  <div class="field">
    <%= f.association :driver, :label_method => lambda { |driver| "#{driver.fname}  #{driver.lname}" } %>
  </div>
  <div class="field">
    <%= f.association :tour, :label_method => lambda { |tour| "#{tour.title}  #{tour.cost}" } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
