<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @driver.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @driver.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @driver.contact %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @driver.vehicle %>
</p>

<p>
  <strong>Pax:</strong>
  <%= @driver.pax %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
